:root{
  --dark-gray: #262626;
  --gray: #404040;
  --medium-gray: #808080;
  --light-gray: #BFBFBF;
  --orange: #F37820;
};
html, body, .root {
  height: 100%;
}
body {
  line-height: 1.5;
}
body, .app {
  background: black;
  color: white;
}
#root{
  font-family: 'Montserrat', sans-serif;
}
.header{
  margin: 32px 32px 32px 28px;
  display: flex;
  justify-content: space-between;
}

.search-field{
  outline: none;
  background: var(--dark-gray);
  padding-left: 15px;
  width: 288px;
  border: none;
  border-radius: 16px;
  height: 32px;
  font-size: 12px;
  font-weight: 500;
  font-style: italic;
  color: var(--medium-gray);
}
.search-field:focus,
.search-field:active{
  background: var(--medium-gray);
  color: var(--light-gray);
  font-style: normal;
}
.warning{
  font-size: 11px;
  display: block;
  margin-left: 15px;
  color: var(--orange);
}
.search-svg{
  color: var(--medium-gray);
  left: -30px;
  position: relative;
  top: 7px;
}
.search-field:focus ~ .search-svg use,
.search-field:active ~ .search-svg use
.search-svg use{
    fill: #fff;
}

.user-info{
  display: flex;
  align-items: center;
}
.user-pic{
  width: 32px;
  border-radius: 50%;
  height: 32px;
  margin-right: 10px
}

.user-name{
  font-size: 12px;
  font-weight: 500px;
  color: var(--light-gray);
}
.loading svg{
  left: 50%;
  position: relative;
  top: 115px;
  animation: spin 4s infinite linear;
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

.movies-container{
  padding: 0;
  justify-content: center;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: 32px;
}
.container-title{
  font-weight: 600;
  font-size: 20px;
  color: var(--medium-gray);
  margin-left: 32px
}
.movie-item{
  max-height: 234px;
  margin-right: 32px;
  margin-bottom: 24px;
  overflow: hidden;
}
.movie-card{
  width: 156px;
  min-height: 153px;
}
.movie-item:hover .movie-hover{
  display: block;
}
.movie-item a{
  text-decoration: none !important;
  color: inherit;
}
.movie-hover{
  position: relative;
  width: 108px;
  height: 234px;
  background: rgba(0,0,0,.5);
  bottom: 238px;
  padding: 0 10px;
  display: none;
  cursor: pointer;
}
.movie-hover__title{
  padding-top: 100px;
  box-sizing: content-box;
  height: 100px;
  line-height: 20px;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: flex-end;
}
.movie-hover__year{
  font-weight: 500;
  font-size: 12px;
  padding-top: 5px;
  display: block;
}

/* PÁGINA DETALHES */
.movie-details{
  display: flex;
}

.movie-poster{
  height: 100vh;
  flex-basis: 480px;
  flex-shrink: 0;
  background-size: cover;
  background-repeat: no-repeat;
}
.movie-poster:after{
  content: '';
  position: absolute;
  width: 120px;
  left: 360px;
  height: 100vh;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #000000)
}
.movie-info{
  margin: 0 48px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-self: center;
  color: var(--light-gray);
}

.movie-title{
  font-size: 36px;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 8px;
  color: #fff;
}
.separator{
  margin: 0 8px;
}
.rating{
  margin-top: 16px;
  margin-bottom: 32px;
  width: 168px;
  display: flex;
}
.number-rating{
  margin-left: auto;
}
.synopsis-title{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
  margin-top: 0
}
.movie-synopsis{
  margin-top: 0;
  line-height: 24px;
}
.close-button{
  cursor: pointer;
  display: flex;
  position: absolute;
  right: 32px;
  top: 36px;
  color: var(--light-gray);
}
.close-button--mobile{
  display: none;
}
.close-icon{
  margin-right: 8px;
  margin-top: 5px;
}

/*utility*/
.display-none{
  display: none !important;
}
@media screen and (min-width: 826px){
  .movie-hover{
    width: 156px;
  }
}
@media screen and (max-width: 825px){
  .container-title{
    font-size: 18px;
  }
  .movies-container{
    margin-left: 8px;
  }
  .movie-item{
    max-height: 162px;
    margin-right: 10px;
    margin-bottom: 8px;
    overflow: hidden;
  }
  .movie-item:last-child{
    margin-right: 8px
  }
  .movie-card{
    width: 108px;
  }
  .header{
    margin: 24px;
  }
  .search{
    margin-left: auto;
  }
  .search-svg{
    cursor: pointer;
  }
  .search-svg use{
    fill: #fff;
  }
  .user-name{
    display: none;
  }

  /*details page */
  .close-button{
    right: 24px;
    top: 24px;
  }
  .close-text{
    display: none;
  }
  .movie-synopsis ~ a{
    text-decoration: none;
  }
  .close-button--mobile{
    display: block;
    height: 40px;
    margin-top: 32px;
    font-size: 14px;
    line-height: 20px;
    outline: none;
    border: none;
    border-radius: 3px;
    color: var(--light-gray);
    background-color: var(--gray);
    cursor: pointer;
    width: 100%;
  }
  .movie-details{
    display: initial;
  }
  .movie-poster:before{
    content: '';
    width: 100vw;
    height: 108px;
    position: absolute;
    top: 0;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), #000000);
  }
  .movie-poster:after{
    content: '';
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
  }
  .movie-poster{
    width: 100vw;
  }
  .movie-info{
    position: absolute;
    top: 0;
    margin: 0 24px;
    font-size: 12px;
  }
  .movie-title{
    font-size: 28px;
    display: flex;
    height: 40vh;
    align-items: flex-end;
    box-sizing: content-box;
  }
  .number-rating{
    font-size: 14px;
  }
  .synopsis-title{
    font-size: 18px;
  }
  .movie-synopsis{
    line-height: 20px;
  }
}
@media screen and (max-width: 560px){
  .search-field{
    display: none;
  }
  .search-field.visible{
    display: inline-block;
    width: 200px;
  }
  .search-field.visible ~ .search-svg{
    right: 30px;
    position: absolute;
    top: 31px;
    left: auto;
  }
}
@media screen and (max-width: 380px){
  .search{
    margin-left: 50px;
  }
}