:root{
  --dark-gray: #262626;
  --gray: #404040;
  --medium-gray: #808080;
  --light-gray: #BFBFBF;
  --orange: #F37820;
};
html, body, .root {
  height: 100%;
}
body {
  line-height: 1.5;
}
body, .app {
  background: black;
  color: white;
}

.header{
  display: flex;
  justify-content: space-between;
}

.search-field{
  background: var(--dark-gray);
  padding-left: 15px;
  width: 250px;
  border: none;
  border-radius: 15px;
  height: 36px;
}
.search-svg{
  left: -30px;
  position: relative;
  top: 7px;
}


.user-info{
  display: flex;
  align-items: center;
}
.user-pic{
  width: 40px;
  border-radius: 50%;
  height: 40px;
  margin-right: 10px
}