:root{
  --dark-gray: #262626;
  --gray: #404040;
  --medium-gray: #808080;
  --light-gray: #BFBFBF;
  --orange: #F37820;
};
html, body, .root {
  height: 100%;
}
body {
  line-height: 1.5;
}
body, .app {
  background: black;
  color: white;
}

.header{
  margin: 32px 32px 32px 28px;
  display: flex;
  justify-content: space-between;
}

.search-field{
  font-family: 'Montserrat', sans-serif;
  outline: none;
  background: var(--dark-gray);
  padding-left: 15px;
  width: 288px;
  border: none;
  border-radius: 16px;
  height: 32px;
  font-size: 12px;
  font-weight: 500;
  font-style: italic;
  color: var(--medium-gray);
}
.search-field:focus,
.search-field:active{
  background: var(--medium-gray);
  color: var(--light-gray);
  font-style: normal;
}
.search-svg{
  color: var(--medium-gray);
  left: -30px;
  position: relative;
  top: 7px;
}
.search-field:focus ~ .search-svg use,
.search-field:active ~ .search-svg use
.search-svg use{
    fill: #fff;
}

.user-info{
  display: flex;
  align-items: center;
}
.user-pic{
  width: 32px;
  border-radius: 50%;
  height: 32px;
  margin-right: 10px
}

.user-name{
  font-size: 12px;
  font-weight: 500px;
  font-family: 'Montserrat', sans-serif;
  color: var(--light-gray);
}


.movies-container{
  padding: 0;
  justify-content: center;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: 32px;
}
.container-title{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: var(--medium-gray);
  margin-left: 32px
}
.movie-item{
  max-height: 234px;
  margin-right: 32px;
  margin-bottom: 24px;
  overflow: hidden;
}
.movie-card{
  width: 156px;
}
.movie-item:hover .movie-hover{
  display: block;
}
.movie-hover{
  position: relative;
  height: 234px;
  background: rgba(0,0,0,.5);
  width: 156px;
  bottom: 238px;
  padding: 0 10px;
  display: none;
  cursor: pointer;
}
.movie-hover__title{
  padding-top: 100px;
  box-sizing: content-box;
  height: 100px;
  font-family: 'Montserrat', sans-serif;
  line-height: 20px;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: flex-end;
}
.movie-hover__year{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 12px;
  padding-top: 5px;
  display: block;
}
.movie-details{
  display: flex;
}
.movie-info{
  margin-left: 20px;
}

.close-button{
  display: flex;
  position: absolute;
  left: 90vw;
}
.close-icon{
  margin-right: 25px;
  margin-top: 5px;
}

/*utility*/
.display-none{
  display: none !important;
}

@media screen and (max-width: 825px){
  .container-title{
    font-size: 18px;
  }
  .movies-container{
    margin-left: 8px;
  }
  .movie-item{
    max-height: 162px;
    margin-right: 10px;
    margin-bottom: 8px;
    overflow: hidden;
  }
  .movie-item:last-child{
    margin-right: 8px
  }
  .movie-card{
    width: 108px;
  }

/* card 108 width 162 height */
/* 10px margin between cards, 8px from screen margin*/
/* title 18px */
/*search 24 x 24px - no input field*/
/*no user name*/
  .header{
    margin: 24px;
  }
  .search{
    margin-left: auto;
  }
  .search-svg{
    cursor: pointer;
  }
  .search-svg use{
    fill: #fff;
  }
  .user-name,
  .search-field{
    display: none
  }
}
@media screen and (max-width: 380px){
  .search{
    margin-left: 50px;
  }
}